
.home {
    /* font-family: 'Atkinson Hyperlegible', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.home__display {
    margin-top: 2%;
    font-size: 48px;
}

.home__info {
    margin-top: 7%;
}


.home__info__sub {
    margin-top: 3%;
    font-weight:lighter;
}

.home__search {
    margin-top: 5%;
}