
.leftDashBoard {
    color: black;
    background-color: white;
    padding: 2% 3%;
   width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#chart {

}

.leftDashBoard__instructions {
    margin-top: 10%;
}