* {
  margin: 0;
}


a {
  text-decoration: none;
  color: #6969dd;
}

.body {
  display: flex;
  justify-content: space-around;
  /* font-family: 'Atkinson Hyperlegible', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */

  font-family: 'Rubik', sans-serif;
  height: 100vh;
}
